fastapi
uvicorn[standard]
python-dotenv
openai
google-generativeai
python-multipart
langchain
langchain-text-splitters
pypdf
youtube-transcript-api
trafilatura

# Vector DB & Embeddings
# sentence-transformers (Removed: Switched to Gemini API)
qdrant-client

# Database
sqlalchemy
psycopg2-binary
alembic
rank-bm25
